<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%=@welcome%> 
<%= link_to 'About Us', '/about' %>
<%= link_to 'See my listings', listings_path %>
<%=link_to "create list" , new_listing_path %>

